<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <% let counter = 0; %>
            <% allQuestions[0].questions.forEach((currentQuestion)=>{ %>
                <div class="jumbotron">
                    <div class="mb-0">
                        <p class="h5" style="white-space: pre-wrap"><%= counter + 1 %> ) <%= currentQuestion.question %></p>
                        <% if(currentQuestion.options){ %>
                            <% let optID = 0; %>
                            <% currentQuestion.options.forEach((currentOption)=>{ %>
                                <div class="custom-control custom-radio  ">
                                    <input id="id<%= counter %><%= optID %>" name="answer<%= counter %>" type="radio"
                                           class="custom-control-input">
                                    <label style="white-space: pre-wrap" class="custom-control-label font-weight-bold"
                                           for="id<%= counter %><%= optID %>"><%= currentOption %>
                                    </label>
                                </div>
                                <% optID++; %>
                            <% }) %>

                        <% } %>
                        <a href="#" class="nav-link float-right btn-sm btn-primary mt-2 mr-2" data-toggle="collapse"
                           data-target="#demo<%= counter %>">View Answer</a>

                        <!--                        DELETE BUTTON FOR QUESTION-->
                        <button type="button" class="btn btn-danger float-left mr-1" data-toggle="modal"
                                data-target="#deleteModal<%= counter %>">
                            Delete
                        </button>
                        <!--DELETE BUTTON MODAL -->
                        <div class="modal fade" id="deleteModal<%= counter %>" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete question</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        You are about to delete a question. Are you sure you want to delete it ?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post"
                                              action="/deleteQuestion/<%= currentQuestion._id %>?examCramName=<%= examCramName %>&examCramID=<%= examCramID %>">
                                            <button class="btn btn-secondary">Yes</button>
                                        </form>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%if(currentQuestion.options){%>
                            <a href="/editQuestion/<%=currentQuestion._id%>/0" class="btn btn-primary">Edit</a>
                        <%}else{%>
                        <a href="/editQuestion/<%=currentQuestion._id%>/1?examCramName=<%=examCramName%>" class="btn btn-primary">Edit</a>
                        <%}%>

                        <div id="demo<%= counter %>" class="collapse border border-primary p-3">
                            <b>Answer : </b><br>
                            <span style="white-space: pre-wrap"><%= currentQuestion.answer %></span>
                            <% if(currentQuestion.options){ %>

                                <% if(currentQuestion.answer == "a"){ %>
                                    )&nbsp;<span style="white-space: pre-wrap"><%= currentQuestion.options[0] %></span>
                                <% } %>
                                <% if(currentQuestion.answer == "b"){ %>
                                    )&nbsp;<span style="white-space: pre-wrap"><%= currentQuestion.options[1] %></span>
                                <% } %>
                                <% if(currentQuestion.answer == "c"){ %>
                                    ) <span style="white-space: pre-wrap">&nbsp;<%= currentQuestion.options[2] %></span>
                                <% } %>
                                <% if(currentQuestion.answer == "d"){ %>
                                    )&nbsp;<span style="white-space: pre-wrap"><%= currentQuestion.options[3] %></span>
                                <% } %>
                            <% } %>

                        </div>
                    </div>
                </div>
                <% counter++; %>
            <% }) %>
        </div>
    </div>
</main>